* {
    box-sizing: border-box; /* Ensure padding and borders are included in element's total width and height */
}

.container{
  
    min-height: 100vh;
    width: 100%;
}

.add-post-container{
  
    display: flex;
    justify-content: end;
    align-items: end;
     width: 100%;
}

.cards{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(20rem,1fr));
    gap : 2rem;
    padding: 3rem;
    width: 90%;
}

.card{
    background-color:aliceblue;
    text-align: center;
    border-radius: 0.5rem;
}

.card button {
    margin: 0.2rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
    padding: 0.7rem;
    border-radius: 0.5rem;
}

.card button:hover{
  background-color:azure;
}
.add-post{
   
  padding: 1rem;
  margin: 1rem;
 background-color:cornflowerblue;
  border-radius: 0.5rem;
  /* display: flex;
  justify-content: end;
  align-items: end; */

}

.input-val{
    padding: 1rem 2rem;
    background-color: whitesmoke;
    border-radius: 0.4rem;
}

.submit-btn{
    padding: 1rem 1.5rem;
    border-radius: 0.2rem;
    background-color: cornflowerblue;
    margin-left: 0.5rem;
}

.form{

    max-width: 40rem;
    min-width: 30rem;
    min-height: 7rem;
    padding: 5rem;
    border: 1px solid gray;
    border-radius: 4%;
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    background-color:whitesmoke;
}



.model-outer{
  
    display: grid;
    height: 100vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0px;
    left: 0px;
    opacity: 0;
    pointer-events: none;
  
}

.model-outer.open{
    opacity: 1;
    pointer-events: all;
  }
